.Rproj.user
.Rhistory
.RData
.Ruserdata
datafest2018-mini.csv
datafest2018NewApril6.csv
mini-clean.pickle
datafest2018NewApril6.csv
datafest2018NewApril6.pickle
datafest2018NewApril6-indus.pickle
datafest2018NewApril6-indus.zip
datafest2018NewApril6-indus.csv